<% content_for :title, "Upcoming Events" %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Events</h2>
    </div>
  </div>
</div>


<div class="row">
  
  <!-- Main Feed -->
  <div class="medium-12 columns">
    <h4>Upcoming Events</h4>
    
    <% @events.each do |e| %>
    <!-- Event -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <% if e.flier %>
            <%= thumbnail_to e.flier.url, e.flier_image.url %>
          <% else %>
            <%= thumbnail_to e.flier_image.url %>
          <% end %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <h3><%= e.title %></h3>
        <p><%= e.description %></p>
  			<p><i><%= e.event_datetime.strftime('%B %d, %Y') %></i></p>
        <fine>Contact events@dcypaa.org for more information.</fine>
      </div>
    </div>
    <% end %>
    
    <h4>Previous Events</h4>
    
    <% @previous_events.each do |e| %>
    <!-- Event -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <% if e.flier %>
            <%= thumbnail_to e.flier.url, e.flier_image.url %>
          <% else %>
            <%= thumbnail_to e.flier_image.url %>
          <% end %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <h3><%= e.title %></h3>
        <p><%= e.description %></p>
  			<p><i><%= e.event_datetime.strftime('%B %d, %Y') %></i></p>
        <fine>Contact events@dcypaa.org for more information.</fine>
      </div>
    </div>
    <% end %>
  </div>

</div>

