<% content_for :title, "Welcome" %>

<p>
  <%= image_tag "Header-Web.jpg" %>
</p>

<!-- Main Content Section -->
<div class="row">
  <div class="medium-7 columns">
    <h3>Welcome to the DC Bid Committee's website for EACYPAA in 2016!</h3>
    <p>We are a fellowship of young men and women in the District of Columbia who share our experience, strength, and hope with each other in order to stay sober and help other Alcoholics achieve sobriety. We want to show others that suffering is not a requirement for sobriety. As young members of Alcoholics Anonymous we try to live purposeful, fun, eventful lives without the use of alcohol. We are a diverse group of people of many different ethnicities, beliefs, and backgrounds, that normally would not mix but within us there exists an understanding, respect, and community that creates a fellowship of true friends. Although we are a fellowship of young people within Alcoholics Anonymous, we have no age limits so if you enjoy living life we have a place for you.</p>
  </div>
  <div class="medium-5 columns">
    <p>
      <%= image_tag "white_chairs.jpg" %>
    </p>
  </div>
    <!-- <div class="medium-8 medium-offset-2 columns">
      <p><b>Dear Friends,</b></p>

      <p>As you have probably heard by now, DCYPAA did not win its bid to host the 2015 Eastern Area Convention of Young People in AA (EACYPAA). We offer our congratulations to the Louisville, Kentucky committee on their winning bid. We are confident they will host a wonderful event.</p>

      <p>Just because we didn’t win doesn’t mean we were not successful. Over the past couple months we have come together – DC, Maryland, and Virginia – in support of AA’s legacies of unity, service, and recovery. We have hosted numerous events and made lasting friendships. We are very proud of all we have accomplished.</p>

      <p>Our next step will be to have a final close-out meeting to dissolve the committee bidding for the 2015 EACYPAA. At that time we will review our activities over the year, do a mini-group inventory, and plan for DCYPAA’s future. We will send the details of the final meeting shortly.</p>

      <p>Many people on the bid (and others that were inspired at the convention) already decided they want to be a part of a Bid for EACYPAA XIV. We are trying to find a time for elections that will work for as many people as possible – probably earlier on a Saturday or a Sunday morning. In the meantime, please continue to spread the word about DCYPAA. Our hope is to grow the committee and further build an infrastructure to support DC-area young people.</p>

      <p>In Love and Service,</p>

      <p>The DC Bid Committee for EACYPAA</p>

    </div> -->
</div>
<div class="row">
  <div class="panel text-center">
    <h2>Upcoming Events</h2>
  </div>
</div>
<div class="events_container">
  <% @events.each do |e| %>
  <!-- Event -->
  <div class="row homepage-event">
    <div class="small-4 columns">
      <p>
        <% if e.flier %>
          <%= thumbnail_to e.flier.url, e.flier_image.url %>
        <% else %>
          <%= thumbnail_to e.flier_image.url %>
        <% end %>
      </p>
    </div>
    <div class="small-8 columns">
      <h3><%= e.title %></h3>
      <p><%= e.description %></p>
			<p><i><%= e.event_datetime.strftime('%B %d, %Y') %></i></p>
      <fine>Contact <a href="mailto:events@dcypaa.org">events@dcypaa.org</a> for more information.</fine>
    </div>
  </div>
  <% end %>
  <% if @events.empty? %>
    <div class="sorry text-center">
      No scheduled upcoming events. Thanks for your support!
    </div>
  <% end %>
</div>
