<%= form_for @attendee do |f| %>
  
  <div class="row">
    <div class="small-6 columns">
      <%= f.text_field :first_name %>
    </div>
    <div class="small-6 columns">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <%= f.email_field :email %>
  <fieldset>
    <legend>Address</legend>
    <%= f.text_field :address %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :city %>
      </div>
      <div class="small-3 columns">
        <%= f.text_field :state %>
      </div>
      <div class="small-3 columns">
        <%= f.text_field :zip %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>AA, Al-Anon or Alateen?</legend>
    <div class="row checkboxes">
      <div class="large-2 large-offset-3 medium-3 medium-offset-2 small-4 columns">
        <%= f.check_box :aa, label: "AA" %>
      </div>
      <div class="large-2 medium-3 small-4 columns">
        <%= f.check_box :alanon, label: "Al-Anon" %>
      </div>
      <div class="large-5 medium-4 small-4 columns">
        <%= f.check_box :alateen, label: "Alateen" %>
      </div>
    </div>
    <div class="date">
      <%= f.date_select :sobriety_date, start_year: 1935, end_year: 2015, with_css_classes: true %>
    </div>
  </fieldset>
  
  <%= f.submit "Submit", :class => "small radius success button right" %>
  
<% end %>