<%= form_for(@event, :html => { :multipart => true }) do |f| %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="field dateselect">
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.file_field :flier_image %>
  </div>
  <div class="field">
    <%= f.file_field :flier %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button success right' %>
    <%= link_to 'Back', events_path, :class => "button secondary" %>
  </div>
  
<% end %>
