<%= content_for(:title, "Event #{@event.id}") %>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1 class="text-center">EVENT <%= @event.id %></h1>
    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>When:</strong>
      <%= @event.event_datetime.strftime('%B %d, %Y - %I:%M %p') %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @event.address %>
    </p>
    
    <p class="text-center">
      <strong>Flier</strong>
      <%= image_tag @event.flier.url %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event), :class => "button right" %>
    <%= link_to 'Back', events_path, :class => "button left" %>
    
  </div>
</div>